/* Project Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px;
}
h1{
  font-size: 2.5rem;
  margin: 20px 0;
  text-align: center;
}
#change-due{
  text-align: left;
  font-size: 1.2rem;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#input-div{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0 20px;
}
label{
  font-size: 18px;
}
input::placeholder{
  font-size: 12px;
  font-style: italic;
}
.user-input{
  height: 32px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  border-radius: 3px;
}
#price-screen{ 
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  border: 10px solid gray;
  height: 50px;
  width: 270px;
  margin: 0 0 20px -32px;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
}
#total-text{
  font-size: 1.5rem;
}
#total-price{
  border-radius: 1.5px;
  font-size: 1.5rem;
  text-align: center;
  width: 120px;
  margin: 10px
}
.connector{
  margin: 0 120px 0 0;
  background-color: gray;
  height: 40px;
  width: 84px;
}
.register{
  width: 420px;
}
#top-register{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px 32px 0 0;
  padding: 20px 0 0 0;
  background-color: gray;
  height: 230px;
}
#register-addition{
  width: 100%;
  padding: 5px;
  margin: 0 0 5px 0;
  grid-column: 1 / span 3;
}
.btns-container{
  width: 25%;
  padding: 32px 60px 30px 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
}
.btn{
  border-radius: 12%;
  cursor: pointer;
  width: 57px;
  height: 23px;
  background-color: orange;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: orange;
  border-width: 2.3px;
  color: black;
  padding: 3px;
  margin: .5px;
}
.check-btn-styles{
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: orange;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: orange;
  border-width: 3px;
  color: black;
  border-radius: 7px;
}
.cash-in-drawer{
  background-color: black;
  color: white;
  font-size: 1.1rem;
  width: 43%;
  height: 87%;
  padding: 11px;
  margin: 23px 0 23px 23px;
}
#bottom-register{
  background-color: gray;
  height: 50px;
  margin: 10px 0 0 0;
}
.circle{
  margin: 15px auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
}
/* END Project Styling */

/* Light/Dark Toggle */
body {
transition: background-color 0.32s, color 0.32s;
}

body.dark-mode { 
  color: white;
  background-color: black; 
}

body.light-mode { 
  color: black;
  background-color: white; 
}

.theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
    position: fixed;
    top: 10px;
    right: 10px;
    outline: none;
}
/* END Light/Dark Toggle */
